/*colors*/
$primary: #6164C1;
$danger: /*#F65F6E; #FB6E7D*/ #F04A58;
$warning: #FFC859;
$secondary: #5F57F5; //#7476E0;

$success: #71dc98; /* #42de95*/;/*#5ae6a7;*//*#53D190;*/
$light: #EDEDF9;
$text-muted: #5C5A7A;
$border-color: #EFEFEF;
$dark: #242038;

$default: #333;
$faded: #AAA7B1;
$body: #fcfcfe;//#F7F7FD;
$progress: #ececef;
$switch: #989ad6;

/*fonts*/
$font-family-sans-serif: 'Roboto', sans-serif;

/*modal*/
$modal-md: 675px;



/*.dropdown-toggle::after {
  vertical-align: 0em !important;
  content: "\F3D0" !important;
  border-top: 0 !important;
  border-right: 0 !important;
  font-family: "Ionicons";
}*/
